In [5]:
#Llamamos el set de datos publico 
Chicago_data = 'https://raw.githubusercontent.com/terranigmark/curso-analisis-exploratorio-datos-platzi/main/Traffic_Crashes1.csv'
import pandas as pd 
df_chicago=pd.read_csv(Chicago_data)
df_chicago['CRASH_DATE'] = df_chicago['CRASH_DATE'].apply(lambda x: pd.to_datetime(x,errors='coerce', utc=True))
report_1 = df_chicago.groupby(['LIGHTING_CONDITION', 'REPORT_TYPE', 'CRASH_HOUR']).agg({'BEAT_OF_OCCURRENCE': sum})

In [6]:
# Creando tabla pivote rapidamente sobre estos indices
report1 = pd.pivot_table(df_chicago, index=['LIGHTING_CONDITION', 'REPORT_TYPE'])
report1 = report1.reset_index()
report1.head()

,LIGHTING_CONDITION,REPORT_TYPE,BEAT_OF_OCCURRENCE,CRASH_DAY_OF_WEEK,CRASH_HOUR,CRASH_MONTH,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_NO_INDICATION,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_TOTAL,INJURIES_UNKNOWN,LANE_CNT,LATITUDE,LONGITUDE,NUM_UNITS,POSTED_SPEED_LIMIT,STREET_NO,Unnamed: 0
0,DARKNESS,AMENDED,1614.000000,5.000000,20.000000,6.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,2.000000,41.954006,-87.835332,2.000000,30.000000,8324.000000,322381.000000
1,DARKNESS,NOT ON SCENE (DESK REPORT),1183.079090,4.100758,15.395450,6.903575,0.000000,0.015168,0.027086,1.934995,0.033586,0.075840,0.0,2.548673,41.846363,-87.670044,1.973998,27.621885,3777.507042,230103.153846
2,DARKNESS,ON SCENE,1166.488235,4.200000,13.735294,6.786275,0.000000,0.039293,0.208251,1.679764,0.115914,0.363458,0.0,2.316279,41.842181,-87.675566,2.074510,28.290196,3991.017647,214160.031373
3,"DARKNESS, LIGHTED ROAD",AMENDED,922.666667,6.333333,22.000000,4.333333,0.333333,0.000000,0.000000,1.000000,0.000000,0.333333,0.0,2.666667,41.803556,-87.638638,1.666667,20.000000,3077.666667,315089.333333
4,"DARKNESS, LIGHTED ROAD",NOT ON SCENE (DESK REPORT),1298.297699,4.208612,15.688938,6.579065,0.000000,0.006310,0.030438,2.057906,0.033779,0.070527,0.0,2.502168,41.865385,-87.677251,1.997030,28.476986,3505.801782,233109.353378

In [7]:
# Filtro

# Solo me selecciona las columnas indicadas
df_chicago.filter(['LIGHTING_CONDITION', 'REPORT_TYPE'])

      LIGHTING_CONDITION                 REPORT_TYPE
0               DAYLIGHT  NOT ON SCENE (DESK REPORT)
1               DAYLIGHT                    ON SCENE
2               DAYLIGHT                    ON SCENE
3                UNKNOWN                    ON SCENE
4               DAYLIGHT  NOT ON SCENE (DESK REPORT)
...                  ...                         ...
27956           DAYLIGHT                    ON SCENE
27957           DAYLIGHT  NOT ON SCENE (DESK REPORT)
27958           DAYLIGHT                    ON SCENE
27959           DAYLIGHT  NOT ON SCENE (DESK REPORT)
27960            UNKNOWN  NOT ON SCENE (DESK REPORT)

[27961 rows x 2 columns]

In [9]:
# Tasa de ocurrencia por condiciones de luz
pd.crosstab(df_chicago['LIGHTING_CONDITION'], df_chicago['BEAT_OF_OCCURRENCE'])

BEAT_OF_OCCURRENCE,111.0,112.0,113.0,114.0,121.0,122.0,123.0,124.0,131.0,132.0,...,2521.0,2522.0,2523.0,2524.0,2525.0,2531.0,2532.0,2533.0,2534.0,2535.0
LIGHTING_CONDITION,,,,,,,,,,,,,,,,,,,,,
DARKNESS,2,3,3,14,5,13,4,5,7,8,...,9,3,4,5,1,7,3,12,1,3
"DARKNESS, LIGHTED ROAD",32,20,16,62,22,52,30,33,39,42,...,32,18,23,22,14,20,25,31,22,27
DAWN,2,3,2,8,3,4,3,3,3,1,...,4,3,0,4,1,2,1,2,2,1
DAYLIGHT,102,71,59,174,118,213,146,108,138,109,...,97,65,68,55,39,40,49,119,75,52
DUSK,6,3,0,6,2,10,6,5,8,3,...,11,4,4,1,2,1,4,4,6,1
UNKNOWN,1,1,2,12,0,6,3,5,2,2,...,5,6,5,1,4,0,6,2,8,5